.App {
  text-align: center;
  padding: 72px;
  font-size: x-large;
}

body{
  align-items: center;
  color: blue;
  min-height: 100vh;
}

.expense-input{
  background-color: aqua;
  width: 100%;
  height: 5vh;
}

.expense-form{
  justify-content: center;
  bottom: 4px;
  position: absolute;
  flex-direction: column;
  margin: 10px 15px auto;
  padding: 10vh;
}

.expense-button{
  color: red;
  height: 50px;
  border-color: transparent;
  cursor: pointer;
}