*{
  box-sizing: border-box;
}

#root{
  margin: 1px;
}

.expense-money{
  text-align: initial;
}

#expense-container{
  display: flex;
  justify-content: space-around;
  height: 100%;
  flex-direction: column;
}

.expense-history{
  display: flex;
  text-decoration: underline;
  text-decoration-color: lightslategray;
  text-decoration-thickness: 15%;
}

.text-label{
  display: flex;
}

.amount-label{
  display: flex;
  text-align: initial;
}

body{
  align-items: center;
  margin: 1% 10% 6% 10%;
  padding: 3% 8% 5% 8%;
  min-height: 0;
  height: 100vh;
  background-color: whitesmoke;
}

.expense-enter{
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

.expense-input{
  margin: 10px 2px 10px auto;
  padding: 12px;
  width: 93%;
  height: 5vh;
  border-radius: 6px;
}

.expense-amount{
  margin: 10px 2px 10px auto;
  padding: 12px;
  width: 93%;
  height: 5vh;
  border-radius: 6px;
}

.expense-form{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 4% 5% 5% 0%;
}

.expense-button{
  background-color: #6f0f9a;
  height: 50px;
  border-color: transparent;
  cursor: pointer;
  width: 94%;
  border-radius: 6px;
  color: white;
}

.todo-row{
  display: block;
  justify-content: center;
}

.tracker-total{
  display: flex;
  justify-content: space-evenly;
  box-shadow: 1px 1px;
  background-color: #fff;
  margin: 2% 10% 0% 10%;
}

.gain{
  color: #2ecc71;
}

.loss{
  color: #c0392b;
}

.ecrito{
  width: 60%;
  border-color: black;
  margin:  10px 10px 6px 21%;
  padding: 5px;
  box-shadow: 1px 2px 10px;
}

.adding{
  display: flex;
  text-decoration: underline;
  text-decoration-color: lightslategray;
  text-decoration-thickness: 15%;
}

.history-layout{
  display: flex;
  flex-direction: column;
  max-height: 500px;
  height: 70vh;
}

.group-expenses{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  overflow-y: scroll;
  max-height: 270px
}

.group-expenses li {
  width: 60%;
  border-color: black;
  margin:  10px 10px 6px 21%;
  padding: 5px;
  box-shadow: 1px 2px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1000px) {
  .group-expenses li {
    font-size: small;
    text-align: center;
  }
}

.group-expenses li.plus{
  border-right: 10px solid #2ecc71;
}

.group-expenses li.minus{
  border-right: 10px solid #c0392b;
}

.delete-expense{
  color: white;
  cursor: pointer;
  background-color: red;
  border: 0;
  position: relative;
  transition: opacity 0.3s ease;
  height: 20px;
  width: 20px;
}

li:hover .delete-expense{
  opacity: 1;
}