*{
  box-sizing: border-box;
}

#root{
  margin: 1px;
}

.header{
  display: flex;
  margin-top: -5%;
}

.expense-money{
  text-align: initial;
}

.App {
  text-align: center;
  margin: 0% 10%;
  font-size: medium;
  min-height: 10px;
}

.history-layout{
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow-y: scroll;
}

.expense-history{
  display: flex;
  text-decoration: underline;
  text-decoration-color: lightslategray;
  text-decoration-thickness: 15%;
}

.text-label{
  display: flex;
}

.amount-label{
  display: flex;
  text-align: initial;
}

body{
  align-items: center;
  margin: 1% 10% 6% 10%;
  padding: 3% 8% 5% 8%;
  min-height: 100vh;
  display: block;
  justify-content: center;
  background-color: whitesmoke;
}

.expense-enter{
  bottom: 25px;
  position: absolute;
  width: 45%;
  margin: 2% 20% -4% 5%;
}

.expense-input{
  margin: 10px 2px 10px auto;
  padding: 12px;
  width: 93%;
  height: 5vh;
  border-radius: 6px;
}

.expense-amount{
  margin: 10px 2px 10px auto;
  padding: 12px;
  width: 93%;
  height: 5vh;
  border-radius: 6px;
}

.expense-form{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 4% 5% 5% 0%;
}

.expense-button{
  background-color: #6f0f9a;
  height: 50px;
  border-color: transparent;
  cursor: pointer;
  width: 94%;
  border-radius: 6px;
  color: white;
}

.todo-row{
  display: block;
  justify-content: center;
}

.tracker-total{
  display: flex;
  justify-content: space-evenly;
  box-shadow: 1px 1px;
  background-color: #fff;
  margin: 2% 10% 0% 10%;
}

.gain{
  color: #2ecc71;
}

.loss{
  color: #c0392b;
}

.ecrito{
  width: 60%;
  border-color: black;
  margin:  10px 10px 6px 21%;
  padding: 5px;
  box-shadow: 1px 2px 10px;
}

.adding{
  display: flex;
  text-decoration: underline;
  text-decoration-color: lightslategray;
  text-decoration-thickness: 15%;
}

.group-expenses{
  display: flex;
  flex-direction: column;
  max-height: 8vh;
  justify-content: center;
  list-style-type: none;
}

.group-expenses li {
  width: 60%;
  border-color: black;
  margin:  10px 10px 6px 21%;
  padding: 5px;
  box-shadow: 1px 2px 10px;
  display: flex;
  justify-content: space-evenly;
}

.group-expenses li.plus{
  border-right: 10px solid #2ecc71;
}

.group-expenses li.minus{
  border-right: 10px solid #c0392b;
}

.delete-expense{
  color: white;
  cursor: pointer;
  background-color: red;
  border: 0;
  line-height: 20px;
  position: relative;
  left: -200px;
  transition: opacity 0.3s ease;
}

li:hover .delete-expense{
  opacity: 1;
}